html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

.limpa{
    clear: both;
}

.container {
	width: calc(100% - 30px);
	max-width: 1024px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.topo{
    height: 100px;
    list-style: none;
}

.logo{
    float: left;
}

.menu{
    float: left;
}

.topob{
    height: 100px;
    background-image: url('../img/bg_header.jpg');
    background-size: cover;
    color: white;
}

.banner {
    height: 338px;
    background-image: url('../img/temp/1.png');
    margin-top: -30px;
    background-size: cover;
    margin-bottom: 30px;
}

.paravc{
    height: 370px;
    padding: 15px;
}

.paravcimg{
    background-image: url('../img/bg_vantagens.jpg');
    background-size: cover;
    border-radius: 10px;
    height: 369px;
}

.paraest{
    height: 370px;
    padding: 15px;
}

.paraestimg{
    background-image: url('../img/bg_vantagens2.jpg');
    background-size: cover;
    border-radius: 10px;
    height: 369px;
}

.rodape{
    height: 300px;
    background-color: #9e9e9e85;
}

.contato {
    width: 111px;
    height: 36px;
    margin: 20px;
    background-color: #000000b5;
    text-align: center;
    color: white;
    margin-top: -26px;
}

